---
const { href, name, target } = Astro.props;
---

<a
  href={href}
  class='py-1 px-3 text-sm text-black dark:text-white bg-white dark:bg-dark-950 hover:bg-dark-100 dark:hover:bg-dark-900 border border-dark-100 dark:border-dark-900 rounded-lg flex items-center gap-1 duration-1000'
  target={target}
>
  {name}
</a>
