---
const {className} = Astro.props;
---

<div class={className}>
    <script type="text/javascript">
      atOptions = {
        'key' : 'e2feb3d7885dcf74d02b8094df14a2f3',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
    </script>
    <script type="text/javascript" src="//www.topcreativeformat.com/e2feb3d7885dcf74d02b8094df14a2f3/invoke.js"></script>
</div>