---
import IconBack from '../icons/caret-left.astro';
const { href, name } = Astro.props;
---

<a
  href={href}
  class='pl-1 pr-2 py-1 bg-dark-50 dark:bg-dark-950/80 hover:bg-dark-100 dark:hover:bg-dark-900/50 text-wood-500 dark:text-wood-200 flex items-center rounded-lg duration-700'
  ><span><IconBack /></span> {name}</a
>
