---
import Layout from '../layouts/MainLayout.astro';
const title = 'About Me';
const seoDesc = 'About Rifky Alamsyah';
---

<Layout {title} {seoDesc}>
  <main>
    <section>
      <div class='container mx-auto py-8'></div>
    </section>
  </main>
</Layout>
