---
import Layout from '../layouts/MainLayout.astro';
const title = 'About - Porto';
const seoDesc = 'About Rifky Alamsyah';
---

<Layout {title} {seoDesc}>
  <main>
    <section>
      <div class='container mx-auto py-8'>
        <div class='flex justify-center'>
          <img class='rounded-2xl mb-6' src='/images/astro.jpg' alt="img-about" width="1440" height="480">
        </div>
          <div class="text-center">
            <h1 class="text-2xl text-gray-800 dark:text-white md:text-4xl font-bold">Rifky Alamsyah</h1>
            <p class='text-xl text-gray-500 dark:text-gray-400 lg:mt-2'>UI Designer & Frontend Dev</p>
          </div>
          <div class="mt-8">
            <p class="text-lg text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloremque tenetur sit quis esse velit necessitatibus praesentium facilis, laudantium quo eaque non nisi soluta placeat nihil itaque tempore qui ex!</p> <br>
            <p class="text-lg text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloremque tenetur sit quis esse velit necessitatibus praesentium facilis, laudantium quo eaque non nisi soluta placeat nihil itaque tempore qui ex!</p>
          </div>
      </div>
  </section>
  </main>
</Layout>
