---
import Layout from '../layouts/MainLayout.astro';

const title = 'Projects - Porto';
const seoDesc = 'Projects Rifky Alamsyah';
---

<Layout {title} {seoDesc}>
  <main>
    <section>
      <div class='container mx-auto py-8'>
        <h1 class='text-2xl md:text-4xl text-center text-wood-800 dark:text-wood-400'>Projects</h1>
        <p  class='text-lg text-center text-gray-500 dark:text-gray-400'>Showcase of innovative design solutions</p>
      </div>
    </section>
  </main>
</Layout>