<button
  type='button'
  data-twe-ripple-init
  data-twe-ripple-color='light'
  class='!fixed bottom-5 end-5 hidden rounded-full bg-dark-800 p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-300 ease-in-out hover:bg-dark-700 hover:shadow-lg focus:bg-dark-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-dark-800 active:shadow-lg'
  id='btn-back-to-top'
>
  <span class='[&>svg]:w-4'>
    <svg
      class='w-6 h-6 text-white'
      aria-hidden='true'
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      fill='none'
      viewBox='0 0 24 24'
    >
      <path
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='m5 15 7-7 7 7'></path>
    </svg>
  </span>
</button>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const mybutton = document.getElementById('btn-back-to-top');

    const scrollFunction = () => {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        mybutton.classList.remove('hidden');
      } else {
        mybutton.classList.add('hidden');
      }
    };

    const backToTop = () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    };

    mybutton.addEventListener('click', backToTop);

    window.addEventListener('scroll', scrollFunction);
  });
</script>
