---
const { title } = Astro.props;
---

<div
  class='bg-dark-50 dark:bg-dark-950/50 border border-dark-100 dark:border-dark-800/50 py-1 px-4 rounded-full duration-1000'
>
  <h1 class='text-lg md:text-lg text-center text-dark-800 dark:text-dark-300'>
    {title}
  </h1>
</div>
