<div id='typed-strings' class='hidden'>
  <p>I'm a <strong><em>User Interface</em> Designer</strong></p>
  <p>And <strong><em>Frontend</em> Dev</strong></p>
  <p>I <em>Work</em> with Figma & Astro JS</p>
</div>
<div class='text-center text-gray-500 dark:text-gray-300 text-xl mt-4'>
  <span id='typed'></span>
</div>

<script>
  import Typed from 'typed.js';

  const info = () => {
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 80,
      loop: true,
    });
  };

  info();

  document.addEventListener('astro:after-swap', info);
</script>
