---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import IconSun from '@icons/Sun.astro';
import IconMoon from '@icons/Moon.astro';
---

<header
  class='py-5 border-b border-wood-100/80 dark:border-wood-800/20 duration-1000'
>
  <div class='container mx-auto flex flex-col lg:flex-row'>
    <Astronav>
      <div class='flex w-full justify-between'>
        <a href='/' class='text-2xl font-bold h-0' data-astro-prefetch
          ><span
            class='bg-gradient-to-r from-wood-800 to-wood-400 bg-clip-text text-transparent tracking-tighter'
            >リフキ</span
          ></a
        >
        <div class='block lg:hidden'>
          <MenuIcon class='w-8 h-8 text-gray-600 dark:text-white' />
        </div>
      </div>
      <MenuItems
        class='hidden lg:flex mt-5 lg:mt-0 lg:bg-inherit p-5 lg:p-0 rounded-lg bg-wood-100 dark:bg-wood-950 dark:lg:bg-inherit border border-wood-200/50 dark:border-wood-800/50 lg:border-none duration-1000'
      >
        <ul class='flex flex-col lg:flex-row gap-4 lg:gap-5'>
          <li>
            <a
              href='/'
              class='text-wood-600 dark:text-wood-400 hover:text-wood-950 dark:hover:text-white text-2xl lg:text-base'
              data-astro-prefetch>Home</a
            >
          </li>
          <li>
            <a
              href='/about'
              class='text-wood-600 dark:text-wood-400 hover:text-wood-950 dark:hover:text-white text-2xl lg:text-base'
              >About</a
            >
          </li>
          <li>
            <a
              href='/project'
              class='text-wood-600 dark:text-wood-400 hover:text-wood-950 dark:hover:text-white text-2xl lg:text-base'
              data-astro-prefetch>Projects</a
            >
          </li>
          <li>
            <a
              href='/blog'
              class='text-wood-600 dark:text-wood-400 hover:text-wood-950 dark:hover:text-white text-2xl lg:text-base'
              data-astro-prefetch>Blog</a
            >
          </li>
          <li>
            <a
              href='https://rifky.gumroad.com'
              class='text-wood-600 dark:text-wood-400 hover:text-wood-950 dark:hover:text-white text-2xl lg:text-base'
              target='_blank'>Store</a
            >
          </li>
          <li>
            <a
              href='https://zaap.bio/rifkyalamsyah'
              class='text-wood-600 dark:text-wood-400 hover:text-wood-950 dark:hover:text-white text-2xl lg:text-base'
              target='_blank'>Links</a
            >
          </li>
          <li class='flex items-center'>
            <div class='flex'>
              <input type='checkbox' id='toggle' class='hidden' />
              <label for='toggle'>
                <div
                  class='w-10 h-6 bg-wood-500 flex items-center p-1 gap-2 rounded-full cursor-pointer'
                >
                  <IconSun />
                  <div
                    class='w-4 h-4 bg-white rounded-full toggle-circle absolute'
                  >
                  </div>
                  <IconMoon />
                </div>
              </label>
            </div>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </div>
</header>

<style>
  .hidden {
    display: none;
  }

  #toggle:checked ~ label div.toggle-circle {
    @apply translate-x-4;
    @apply duration-700;
    @apply ease-in-out;
  }

  #toggle:not(:checked) ~ label div.toggle-circle {
    @apply translate-x-0;
    @apply duration-700;
    @apply ease-in-out;
  }
</style>

<script is:inline>
  const darkMode = () => {
    const toggleMode = document.querySelector('#toggle');
    const html = document.querySelector('html');

    toggleMode.addEventListener('click', function () {
      if (toggle.checked) {
        html.classList.add('dark');
        localStorage.theme = 'dark';
      } else {
        html.classList.remove('dark');
        localStorage.theme = 'light';
      }
    });

    // matches toggle position
    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      toggleMode.checked = true;
    } else {
      toggleMode.checked = false;
    }
  };

  darkMode();

  document.addEventListener('astro:after-swap', darkMode);
</script>
