---
const { value } = Astro.props;
---

<span
  class='mb-1 px-4 py-1 bg-wood-100/90 dark:bg-wood-800/30 text-xs text-wood-800 dark:text-wood-200 border border-wood-200/50 dark:border-wood-800/50 rounded-full duration-1000'
>
  {value}
</span>
