---
const { value } = Astro.props;
---

<span
  class='mb-4 px-5 py-1 bg-dark-100 dark:bg-dark-900/50 text-base text-dark-800 dark:text-dark-300 border border-dark-200/50 dark:border-dark-900 rounded-full duration-1000'
>
  {value}
</span>
