---
import Head from '@layouts/MainHead.astro';
import Nav from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
const { title, seoDesc } = Astro.props;
---

<html lang='en' class=''>
  <Head title={title} seoDesc={seoDesc} />
  <body class='dark:bg-wood-900 duration-1000 dark:text-white flex flex-col content-between min-h-screen'>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: 'DM Sans', sans-serif;
  }
</style>
